/*.button {
  background-color: $primrose;
  font-family: $quicksand-bold;
  border: 1px solid $primrose;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  max-width: 185px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 44px;
  line-height:28px;
  border-radius: 5px;
  @include transition(all .3s ease 0s);
  &:before{
    display: none;
  }
  a,button{
    display: block;
    cursor: pointer;
    outline: none;
    color: $body-copy;
    background-color: transparent;
    text-transform: uppercase;
    border:0px;
    width: 100%;
    padding: 7px 20px 7px;
    @include transition(all .25s ease);
    &:focus{
      outline:none;
      box-shadow: none;
    }
    &:before{
      display: none;
    }
  }
  &-primary{
    background-color:$darkCeruleanBlue;
    border: 2px solid transparent;
    color: $white;
    &:hover{
      background-color: white;
      border: 2px solid $darkCeruleanBlue;
      color: $darkCeruleanBlue;
      a,button{
        
      }
    }
    &.add_bag{
      &:hover{
        background-color: transparent;
        border: 1px solid $addbag-hover;
        color: $addbag-hover;
      }
    }
  }  
  &-secondary{
    color: $white;
    a,button{color: $white}
    &:hover{
      background-color:transparent;
      border: 1px solid $black;
      color: $black;
      a,button{color: $black}
    }
  }
  &-signup{
    border: 1px solid $white;
    background-color: transparent;
    &:hover{
      border: 1px solid $white;
      background-color: transparent;
      opacity: 0.7;
    }
  } 
  &-stripe{
    border: 1px solid $Blue;
    background-color: transparent;
    color: $black;
    min-width:240px;
    margin-right:25px;
    &:hover{
      opacity: 0.7;
    }
  } 
  &-paypal{
    border: 1px solid $Sunglow;
    background-color: $Sunglow;
    min-width:240px;
    margin-right:25px;
    color: $black;
  }
  &-small{
    max-width: 140px;
  }
}*/

button{
  &:focus{
    outline:none;
    box-shadow: none;
  }
}

.button{
    display: inline-block;
    position: relative;
    font-family: $quicksand-bold;
    
    button,a{
        background-color: transparent;
        color: $darkCeruleanBlue;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;       
        min-width: 200px;
        padding: 13px 18px;
        position: relative;
        text-align:center;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 19px;
        text-transform: uppercase;
        z-index: 1;
        @include transition(all 0.25s ease-in);
        outline: none;
        border-radius: 4px;
        
        &:hover, &:focus{
            color: $white;
        }
        &:before{
            display: none;
        }
    }
    &-primary{
        button,a{
            background-color: $darkCeruleanBlue;
            color: $white;
            border: 1px solid transparent;
            &:hover, &:focus{
                background-color: white;
                border-color: $darkCeruleanBlue;
                color: $darkCeruleanBlue;
            }
        }
        &.type1{
            button,a{
                font-size: 16px;
                border-radius: 3px;
                border-radius: 5px;
                padding: 10px 20px;
            }
        }
    }
    &-secondary{
        button,a{
            background-color: transparent;
            color: $darkCeruleanBlue;
            border: 1px solid $darkCeruleanBlue;
            margin-bottom: 30px;
            &:hover, &:focus{
                background-color: $darkCeruleanBlue;
                border-color: $darkCeruleanBlue;
                color: $white;
            }
        }
    }
    &-small{
        button,a{
            min-width: 140px;

        }
    }
    &-territory{
        button,a{
            background-color: $white;
            border: 1px solid transparent;
            color: $darkCeruleanBlue;
            &:hover, &:focus{
                background-color: transparent;
                border-color: $white;
                color: $white;
            }
        }
    }
}
.midium{
  button{
    min-width: 160px;
  }
}
/*.maximumbtn{
  button{
    min-width: 200px;
  }
}*/

@media screen and (max-width: 1024px) {
    .button{
        button,a{
            /*min-width: 175px;*/  
        }
    }
}
@media screen and (max-width: 320px) {
    .button{
        button,a{
            /*min-width: 175px;*/
            padding: 15px;
            width: 100%;
        }
    }
}
@media screen and (max-width: 640px) {
    .button{
        button,a{
            /*min-width: 175px;*/
            padding: 15px;
            width: 100%;
            
        }
    }
}
/* General styles for all types of buttons */
.progress-button {
  position: relative;
  display: inline-block;
  outline: none;
  background: transparent;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 1px;
  .progress{
    display: initial;
  }
  .content{
    position: relative;
    display: block;
    &:before, &:after{
      position: absolute;
      right: 20px;
      font-weight: 800;
      color: #fff;
      font-family: FontAwesome;
      color: $black;
      opacity: 0;
      @include transition(opacity 0.3s 0.3s);
    }
    &:before{
      content: "\f00d";
    }
    &:after{
      content: "\f00c";
    }
  }
  &.state-success, &.state-error{
    .content{
      &:after{
        opacity: 1;
      }
    }
  }
  .progress-inner {
    position: absolute;
    left: 0;
    background: $black;
  }
}
.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}
/* Shrink horizontal */
/* ====================== */

.progress-button[data-style="shrink"] { /* common for horizontal and vertical */
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.progress-button[data-style="shrink"][data-horizontal] .content {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.progress-button[data-style="shrink"][data-horizontal] .content::before,
.progress-button[data-style="shrink"][data-horizontal] .content::after {
  top: 100%;
  right: auto;
  left: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading {
  -webkit-transform: scaleY(0.3);
  transform: scaleY(0.3);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading .content {
  opacity: 0;
}

.progress-button[data-style="shrink"][data-horizontal].state-success .content,
.progress-button[data-style="shrink"][data-horizontal].state-error .content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/*scroll button*/
.scroll-btn{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: $black;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 3px solid #ebebeb;
    background: rgba(255, 255, 255, 0.5);
    @include transition(opacity 0.45s);
    z-index: 99999;
    i,.fa,.la{
      font-size: 24px;
      line-height: 30px;
    }
    &:active,&:focus,&:hover{
        /*color:$white;*/
    }
    &:hover{
        /*@include background-image(linear-gradient(-90deg, #F7981D 0%, #FDBF0F 100%));*/
    }
    &.active{
        opacity: 1;
        visibility: visible;
   }
}
@media screen and (max-width: 640px){
  .button{
    /*max-width: 175px;*/
    margin: 0 auto;

    &-stripe,&-paypal{
      margin-bottom: 10px;
    }
  }
  .button-secondary button{
    border:1px solid #174386; 
  }
}





