.intro-label{
	background-color: $crimsonRed;
	color: $white;
	display: inline-block;
	margin: 0px;
	padding: 5px 15px;
	text-transform: uppercase;
	vertical-align: middle;
	min-width: 110px;
	font-size: 12px;
	font-family: $nunito-bold;
	text-align: center;
	line-height: 18px;
}
@media screen and (max-width: 321px) {
	.intro-label{
		padding: 5px 10px;
		font-size: 10px;
		line-height: 16px;
	}
}