.intro-label{
	background-color: $crimsonRed;
	color: $white;
	display: inline-block;
	margin: 0px;
	padding: 5px 15px;
	text-transform: uppercase;
	vertical-align: middle;
	min-width: 110px;
	font-size: 12px;
	font-family: $nunito-bold;
	text-align: center;
	line-height: 18px;
}
.border-line{
	width: 100%;
	border-bottom: 1px solid $line-color;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.text{
	&-red{
		font-family: $nunito-bold;
		font-size: 14px;
		line-height: 19px;
		letter-spacing:2px;
		color: $crimsonRed;
		text-transform: uppercase;
		cursor: pointer;
		&.off{
			letter-spacing: 0px;
			cursor: text;
		}
	}
	&-blue{
		font-family: $nunito-bold;
		font-size: 14px;
		line-height: 20px;
		color: $darkCeruleanBlue;
	}
}
@media screen and (max-width: 321px) {
	.intro-label{
		padding: 5px 10px;
		font-size: 10px;
		line-height: 16px;
	}
}