.discription_card{
	padding-bottom: 48px;
	.row.type-3{
		margin: 0px -9px;
		.col-4{
			position: relative;
			min-height: 360px;
			padding: 0px 9px;
		}
	}
	&-slider{
		margin: 0 -9px;
	}
	.slick-slide{
		height: 100%;	
		padding: 0 9px;
	}	
}
.section-feature{
	padding-bottom: 66px;
}
.slideArrow{
	background: transparent;
	outline: none;
	border: none;
	top:50%;
	@include transform(translateY(-50%));
	&:focus{
      outline:none;
      box-shadow: none;
    }
}
.common-slider{
	.slick-arrow{
		&.slick-prev{
			@include transform(translateY(-40%) rotate(180deg));
			position: absolute;
			right:0px;
		}
		&.slick-next{
			position: absolute;
			right:0px;
		}
	}
	.slick-disabled{
		opacity: 0.2;
	}
	.slick-dots{
		padding-top:10px; 	
		padding-bottom: 0px;
		li{
	    	@include background-opacity($crimsonRed, 0.3);
			&.slick-active{
				background: $crimsonRed;
			}
		}
	}
}
.dis_card{
    @include background-opacity($crimsonRed, 0.03);
	font-family: $nunito-regular;
	flex-direction: column;
	font-size: 20px;
	display: flex;
	height: 100%;
	line-height: 26px;
	position: relative;
	justify-content: space-between;
	margin-top: 14px;
	padding:65px 30px 40px 35px;
	width: 100%;
	&-quote{
		position: absolute;
		top: -13px;
		width: 55px;
		height: 36px;
		img{
			width:100%;
			height:100%;
			object-fit: contain;
		}
	}
}
.row.type-4{
	padding:25px 0px; 
	margin: 0px -9px;
	.col-4{
		padding: 0px 9px;
	}
	.text_con{
		width: 100%;
		padding: 10px 40px;
		@include display-flex;
		@include justify-content(center);
		/*justify-content: space-around;*/
		height: 100px;
		@include align-items(center);
		margin-bottom:5px;
		.icon{
			@include flex(0 0 100px);
			height: 60px;
			max-width: 100px;
			img{
				height: 55px;
				width: 72px;
				object-fit: contain;
				object-position: center;
			}
		}
		.para{
				max-width: calc(100% - 100px);
				@include flex(0 0 calc(100% - 100px));
			p{
				font-family: Nunito-ExtraBold;
				font-size: 16px;
				color: #1C5798;
				letter-spacing: -0.02px;
				padding: 20px;
				text-transform: uppercase;
				line-height: 22px;
			}
		}
	}
}
@media screen and (max-width: 1430px){
	.discription_card-slider,.row.type-1 {
		margin: 0px 15px;
	}
}
@media screen and (min-width: 1700px){
	.common-slider{
		.slick-arrow{
			&.slick-prev{
				position: absolute;
				left: -150px;
			}
			&.slick-next{
				position: absolute;
				right:-150px;
			}
		}	
	}
}
@media screen and (max-width: 1024px){
	.section-feature{
		padding-bottom: 0px;
	}
	.discription_card{
		.row{
			&.type-3{
				margin: 0px;
				[class*='col-'] {
				    min-height: auto;
				    max-width: 100%;
				    @include flex(0 0 100%);
				}			
			}
			.col-4{
				padding: 0px;
				margin-bottom: 0px;
			}
		}
		&-slider{
			margin: 0px;
			position: relative;
		}
		.slick-slide{
			padding: 0px;
		}
		.dis_card{
			padding: 40px;
			p {
				font-size: 16px;
			}
			h4 {
				font-size: 18px;
			}
		}
		.row.type-4{
			margin: 0px;
			[class*='col-'] {
			    max-width: 100%;
			    @include flex(0 0 100%);
			}
			.col-4{
				padding: 0px;
				&:last-of-type{
					.text_con{
						margin-bottom:0px;
					}	
				}
				.text_con{
					padding: 10px 20px 10px 35px;
					justify-content: start;
					img {
						height: 48px;
						width: 44px;
					}
					.icon{
						@include flex(0 0 68px);
						height: 45px;
						max-width: 45px;
					}
					.para{
						max-width: calc(100% - 68px);
						@include flex(0 0 calc(100% - 68px));
					}
				}
			}
		}
	}
	.common-slider{
		.slideArrow{
			display: none;
		}
	}
}
@media screen and (max-width: 767px){
	.row{
		&.type-4{
			padding-top: 80px;
			.text_con{
				@include display-flex;
				@include justify-content(end);

			}
		}
	}
}