.gallery_section{	
	.row:nth-child(even) {
		flex-direction: row-reverse;
	}
	.row.type-0{
		height: auto;
		color: $white;
		margin: 0px -10px;
		padding-bottom: 30px;
		flex-wrap: nowrap;
		h2{
			color: $white;
			font-family: $nunito-bold;
			font-size: 40px;
			line-height: 46px;
		}
		h3{
			color: $white;
			font-family: $nunito-bold;
			font-size: 25px;
			line-height: 31px;
			padding-top:0px;
		}
		p{
			font-family: $nunito-bold;
			padding: 0px;
			font-size: 22px;
			line-height: 28px;
		}
		.card-left-banner{
			padding:0px 10px;
			img {
				max-height: 906px;
				object-fit: contain;
				object-position: center;
			}
			.main_con{
				position: relative;
				background:black;
				/*padding: 50px 0px;*/
				height: 100%;
				.title{
					text-align: center;
				}
				.price_tag{
					position: relative;
					left: 0px;
					background-color: $crimsonRed;
					font-family: $nunito-black;
					font-size: 24px;
				    word-spacing: 10px;
				    width: 80%;
				    text-align: right;
					padding: 20px 100px 20px 20px;

				}
			}
		}
		.card-right-banner{
			padding: 0px 10px;
			.side_con{
				@include display-flex;
				@include flex-direction(column);
				@include justify-content(space-between);
				width: 100%;
				height: 100%;
				.side_img{
					position: relative;
					flex:0 0 50%;
					height: 50%;
					.title{
						position: absolute;
						bottom: 20px;
					    left: 50%;
					    @include transform(translateX(-50%));
					    text-align: left;
					    .intro-label{
							margin-bottom: 15px;
						}
					}
					img{
						width: 100%;
						height: 100%;
						object-fit:cover;
					}
					&:nth-child(2){
						padding-top: 20px;
						.title{
							text-align: center;
							h3{
								color: $body-copy;
							}
						}
					}
				}
			}
		}	
	}
}
.section-gallery{
	padding: 100px 0px 70px 0px;
}
@media screen and (max-width: 1024px){
	.section-gallery{
		padding: 0px;
	}
	.gallery_section{
		& > .container{
			padding:0px; 
		}
		.row.type-0{
			margin-left: 0px;
			margin-right: 0px;
			flex-wrap: wrap;
			[class*='col-'] {
			    max-width: 100%;
			    @include flex(0 0 100%);
			    padding:0px; 
			}
			.card-right-banner{
				.side_con{
					.side_img:nth-child(2){
						padding-top: 0px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 480px){
	.gallery_section{
		.row.type-0{
			.card-left-banner{
				.main_con{
					.price_tag{
						width: 100%;
						text-align: center;
						padding: 10px 0px;
					}
				}
			}
		}
	}
}