header{
	background-color: $header-bg;
	padding: 12px 0;
	nav{
		@include display-flex;
		/*@include justify-content(space-between);*/
		@include align-items(center);
	}
}
.mobiMenu{
	.menuHum{
		&.open{
			display: block !important; 
		}
	}	
}
.cart-icon{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
	span{
	    position: absolute;
	    top: 11px;
	    left: 50%;
	    font-size: 12px;
	    line-height: 1;
	    font-family: $quicksand-bold;
	    @include transform(translateX(-50%));
	}
	a{
		color: $black;
		display: block;
		position: relative;
		width: 20px;
		&:before{
			display:none;
		}
	}
}
.shopbag{
	span{
		padding-left: 4px;
	}
}
.menuHum { 
  cursor:pointer; 
  display:none;
  padding:10px; 
  position:fixed; 
  right:10px; 
  bottom:40px; 
  width:53px; 
  z-index:19;
  span { 
    background-color: $white; 
    display: block; 
    height: 1px; 
    margin-bottom: 6px; 
    width: 24px; 
    border-radius: 10px;
  }
  &.open{
  	display: none;
  }
}
.mobiMenu{
	display: none;
}
nav{
	li{
		display: inline-block;
		padding: 0 14px;
		vertical-align: middle;
		&:first-child{
			padding-left:0;
		}
	}
	.left-nav{
		li{
			margin-left: 40px;
			&:first-child{
				padding-left:0px;
				margin-left: 0px;
			}
			&.dropdown{
				a{
					padding-right: 25px;
					&:before{
						display:none;
					}
					&:after{
						display:inline-block;
					}
				}
			}
		}
	}
	a{
		color: $white;
		font-size: 14px;
		font-family: $quicksand-bold;
		line-height: 22px;
		@include transition(all .3s ease 0s);
		position: relative;
		letter-spacing: 0px;
		&.active,&:hover{
			color:$white;
			@include transition(all .5s ease 0s);
			opacity: 1;
			&:before{
				width:100%;
			}
		}
		&:before{
			content: '';
		    position: absolute;
		    height: 1px;
		    width: 0%;
		    background-color: $white;
		    bottom: 0;
		    left: 50%;
		    @include transform(translateX(-50%));
		    @include transition(all 0.2s ease-in-out);
		}
		&:after{
			display: none;
		    content: "\f107";
		    color: white;
		    font-size: 16px;
		    font-family: $font-awesome;
		    @include position(absolute, $top:50%,$right: 0px);
		    @include transform(translateY(-50%));
		}
	}
	.fR{
		li{
			padding: 0 6px;
			&:last-child{
				padding-right:0;
			}
		}
	}
}
.header-imgage{
	display: none;
}
.back-pic{
	position: absolute;
	left: 20px;
	top:41%;
	@include transform(translateY(-50%));
	~.menuHum{
		display: none;
	}
	a{
		display: block;
		position: relative;
		&:before{
			display:none;
		}
		&:after{
			color: $black;
		    border-right: 1px solid $black;
		    border-bottom: 1px solid $black;
		    content: '';
		    position: absolute;
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    @include transform(rotate(135deg));
		}
	}
}

@media screen and (max-width: 1000px) {
	.mobiMenu, .menuHum{
		display: block;
	}
	.mobiMenu{
		display: none;
	}
	body, header, {
	    -webkit-transition: all .3s ease-in;
	    -moz-transition: all .3s ease-in;
	    -o-transition: all .3s ease-in;
	    transition: all .3s ease-in;
	}
	.mobiMenu, .menuHum{ display: inherit;}
	.menuHum{
		position: absolute;
		top: 50%;
		right: 0px;
		height: 32px;
		@include transform(translateY(-50%));
		span{
			@include transition-duration(0.3s);
		}
		&.open{
			padding-top: 14px;
			top:34px;
			span{
				&:nth-child(1){
					background: $white;
					@include transform(rotate(45deg) translate(4px, 4px));
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					background: $white;
					@include transform (rotate(-45deg) translate(6px, -6px));
				}
			}
		}
	}
	.mobiMenu{ 
		background-color: $black; 
		overflow-y: auto; 
	    padding-top: 55px;
		z-index: 15;
		width: 100%;
		@include transform(translateY(-100%));
		@include position(fixed, $top: 0px, $left:0);
		bottom: 0;
		a {
			border-bottom: 1px solid #ccc;
			color: white;
			display: block; 
			font-family: $quicksand-bold;
			letter-spacing: 1px;
			padding: 20px; 
			text-transform: uppercase;
			position: relative;	
			text-align: left;	
			font-size: 14px;
			line-height: 20px;
		}
		li{
			&:last-of-type{
				a {
					border-bottom:none;
				}	
			}
		}
		ul{
			@include transition(all .5s ease 0s);
		}
		&.open{
			ul:not(.multimenu){
				@include transform(translateX(100%));
			}
			.multimenu{
				@include transform(translateX(0))
			}
		}
		.submenu{
			>a{
				position: relative;
				&:before{
					display:none;
				}
				&:after{
					color: $white;
				    border-left: 1px solid $white;
				    border-top: 1px solid $white;
				    content: '';
				    position: absolute;
				    width: 10px;
				    height: 10px;
				    right: 20px;
				    top: 50%;
				    @include transform(translateY(-50%) rotate(135deg));
				}
			}
			&.open{
				.multimenu{
					@include transform(translateX(0));
				}
			}
		}
		.multimenu{
			position: absolute;
			width: 100%;
			background-color: $black;
			@include transform(translateX(-100%));
			@include transition(all .5s ease 0s);
			z-index: 9;
			top: 80px;
			a{
				&:before{
					display:none;
				}
			}
			li{
				&:first-child{
					a{
						position:relative;
						padding-left: 35px;
						&:after{
							color: $white;
						    border-right: 1px solid $white;
						    border-bottom: 1px solid $white;
						    content: '';
						    position: absolute;
						    width: 10px;
						    height: 10px;
						    left: 20px;
						    top: 50%;
						    @include transform(translateY(-50%) rotate(135deg));
						}
					}
				}
			}
			&:first-child{
				background-color: red;
			}
		}
	}
	/*.header{
		width: 80%;
	}*/
	nav{
		@include justify-content(space-between);
	}
	.cart-icon{
		display: block;
		@include display-flex;
		@include align-items(center);
	    top: 49%;
		@include transform(translateY(-50%));
		right: 45px;
		a{
			margin-right: 20px;
		}
	}
	.home-header{
		text-align: center;
		position: relative;
		z-index: 9999;
		top: 0;
		width: 100%;
		/*height: 65px;*/
		/*.fR{
			display: none;
		}*/
		.fL{
			display: none;
			li{
				&:first-child{
					display:none;
				}
			}
		}
		.header{
			padding:0;
		}
		&.open{
			position: absolute;
			z-index: 9999;
			.mobiMenu{
				@include transform(translateY(0));
				overflow-y: scroll;
			}
		}
	}
	.left-nav{
		display: none;
	}
	.logo{
		text-align: left;
		@include flex(0 0 200px);
		max-width: 200px;
		/*padding-top: 5px;*/
		padding-left: 0px;
		padding-right: 0px;
	}
	.right-nav{
		@include flex(0 0 calc(100% - 250px));
	}
}
@media screen and (max-width: 640px) {
	.hero-banner{
		&-content{
			text-align: center;
		}
		&-image{
			margin: 0 auto;
		}
	}
	.logo{
		@include flex(0 0 160px);
		max-width: 160px;
	}
	.right-nav{
		@include flex(0 0 calc(100% - 200px));
		padding-left: 0px;
	}
	nav{
		.fR{
			li{
				padding: 0 2px;
				&:last-child{
					padding-right:0;
				}
			}
		}
	}
}
@media screen and (max-width: 414px) {
	.logo{
		@include flex(0 0 130px);
		max-width: 130px;
	}
	.right-nav{
		@include flex(0 0 calc(100% - 160px));
	}
}
@media screen and (max-width: 321px) {
	.logo{
		@include flex(0 0 100px);
		max-width: 100px;
	}
	.right-nav{
		@include flex(0 0 calc(100% - 100px));
		max-width:calc(100% - 100px);
		padding-right: 30px;
	}
	nav .fR li {
	    padding: 0 1px;
	}
}
