.payment-details{
	background-color: #ffffff;
	width: 800px;
	margin: 40px;
	padding: 20px;
}
.payment-bank{
	h4{
		text-align: center;
	}
}
.textalign-payment{
	p{
		margin-left: 38px;
	}	
}
.formRow {
	.payment-details{
		display: none;
	}
}
.checkboxradio-label{
	img{
		width: 120px;
	}
}
@media screen and (max-width: 640px){
	.payment-details{
		width: 100%;
		margin: 0px;
	}
  }