.product_card_section{
	.tabcard{
		text-align: center;
	    padding-bottom: 20px;
		ul{
			padding: 0px 0px;
		}
		li{
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			a{
				color: $darkCeruleanBlue;
				font-family: $nunito-bold;
				font-size: 15px;
				line-height: 21px;
				padding: 10px 15px;
				text-transform: uppercase;
				display: inline-block;
				&.active{
					background: $darkCeruleanBlue;
					border-radius: 4px;
					color: $goldenYellow;
				}
				&:before{
					display:none;
				}
			}
		}
	}
	.accordiantab-content{
		padding:0px;
	}
		
}
.tab_con{
	display: none;
	&.active{
		display: block;
	}
}
.row.type-1{
		margin: 0px -7px;
		.col-3{
			padding: 0px 7px;
			&:nth-of-type(n+5){
				padding-top: 14px;
			}
		}
	}
.card_con{
	background: $white;	
	display: block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: left;	
	&:before{
		display:none;
	}
	.card_img{
		height: 200px;
		width: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.pro_dis{
		font-family: $nunito-semibold;
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 10px;
	}
	.pro_price{
		font-family: $nunito-black;
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 15px;
	}
	.pro_emi{
		font-family: $garamond-bolditalic;
		font-size: 18px;
		line-height: 24px;
		color: $emiGray;
		padding-bottom: 5px;
	}
	.intro-label{
		margin-bottom: 10px;
	}
	.card_content{
		padding: 20px;
	}
}
.unitprice{
	color:#5e5e5e;
    position: relative;
    margin-right: 10px;
    font-family: $nunito-regular;
    &:before {
	    content: "";
	    position: absolute;
	    height: 2px;
	    width: 100%;
	    background-color: #5e5e5e;
	    top: 50%;
	    left: 0;
	    @include transform(translateY(-50%));
	}
}
.section-productlist{
	padding-bottom: 66px;
}
@media screen and (max-width: 1024px){
	.section-productlist{
		padding-bottom: 0px;
	}
	.product_card_section{
		.accordiantab-wrapper{
			padding-left: 0px;
			padding-right: 0px;
		}
		.accordiantab-content{
			padding-left: 7px;
			padding-right: 7px;	
			padding:20px 0px;
		}
		.accordiantab .accordiantab-title{
			text-transform: uppercase;
			text-align: center;
		    padding: 23px 23px 23px 20px;
		}
		.row.type-1{
			margin-left: 0px;
			margin-right: 0px;
			[class*='col-'] {
				height: auto;
				&:nth-child(odd){
				    padding-right: 5px;
    				padding-left: 0px;
				}
				&:nth-child(2n+2){
					padding-right: 0px;
    				padding-left: 5px;	
				}
				/*padding-left: 0px;
				padding-right: 0px;	*/
			    max-width: 50%;
			    @include flex(0 0 50%);
			}
			.col-3:nth-of-type(n+3){
				padding-top: 14px;
			}
		}
	}
}
