.slick-dots{
  text-align: center;
  li{
    display: inline-block;
    margin:0px 5px;
    vertical-align: middle;
    padding: 5px;
    line-height: 0;
    opacity: 0.3;
    background-color: $black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    &:before{
      display:none;
    }
  }
  .slick-active{
    opacity: 1;
  }
  button{
    font-size: 0;
    line-height: 0;
    color: transparent;
    border: none;
    outline: none;
    display: none;
  }
  &.slider-dots{
    padding: 0px 20px;
    position: absolute;
    bottom: 10px;
    left:50%;
    @include transform(translateX(-50%));
    li{
      &.slick-active{
        opacity: 1;
        background-color: $primrose;       
      }
    }
  }
}
.slick-arrow{
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  z-index: 9;
  font-size: 55px;
  cursor: pointer;
  color: $black;
  &.slick-prev{
    left: 0;
  }
  &.slick-next{
    right: 0;
  }
  &.slick-disabled{
    color: $gray;
    pointer-events: none;
  }
}

@media screen and(max-width: 1024px){
  .slick-dots li{
    margin-left: 0px !important;
  }
}