.tabs{
	&-links{
		border-bottom:1px solid $black;
		li {
			display:inline-block;
			padding:0 15px;
			&:first-child{
				padding-left:0;
			}
			&.active{
				a{
					color: $dim-gray;
					border:{
						bottom:2px solid $black;
					}
				}
			}
		}	
		a {
			color:$black;
			padding:9px 0px;
			display: inline-block;
			border-bottom:1px solid transparent;
			@include transition(all linear 0.15s);
			&:before{
       			display: none;
       		}
			&:hover {
				text-decoration:none;
			}
		}
	}
	&-content {
		padding:50px 0 0;
		>h4{
			display: none;
		}
		.tab {
			display:none;
			&.active {
				display:block;
			}
		}
	}
}
.tabs{
	.page{
		@include flex-direction(unset);
	}
}

@media screen and (max-width: 340px){
	.tab-row{	
		[class*="col-"] {
		    max-width: 100%;
		    flex: 0 0 auto;
		}
	}
}
@media screen and (max-width: 1024px){
	.tabs{
		&-links{	
			display: none;
		}
		&-content{
			padding-top: 0;
			border-bottom: 1px solid $black;
			margin-bottom: 40px;
			[class*="col-10"]{
				padding: 0 15px;
			}
			>h4{
				display: block;
				border-top: 1px solid $black;
		       	padding: 18px 45px 18px 0px;
		       	position:relative;
		       	line-height: 24px;	
		       	cursor: pointer;
		       	letter-spacing: 1px;
				text-transform:uppercase;
		       	&:after {
					content: "\f067";	
					color:$black;
				 	font: {	
				 		family:'FontAwesome';
			 			size: 16px;
			 		}
				 	position: absolute;
				 	top:50%;
				 	right: 0;
				 	line-height:40px;
				 	text-align: center;
				 	@include transition(transform 0.25s ease-out);
				 	@include transform(translateY(-50%));
				}
				&.active {
					&:after {
						content: "\f068";
					}
				} 
			}

		}
	}
}
@media screen and (max-width: 640px){
	.tabs{
		&-content{
			[class*="col-10"]{
				padding-right: 0;
				strong{
					display: block;
				}
			}
		}
	}
}

/*category tab*/

.tab{
    &-links{
        li {
            border-bottom:1px solid $body-bg;
            padding:0px;
            &:before{
            	display:none;
            }
           	a{
           		color:$black;
           		padding:12px 15px;
           		display:block;
           		&:hover, &.active{
					color:$dim-gray;
           		}
           	}
           	&:first-child{
           		border-top:1px solid $body-bg;
           	}
        } 
    }
    &-content {
    	display:none;
        h6{
        	color:red;
        }
       	figure{
   		 	a{
	        	color:red;
	        }
       	}
       	.button{
       		margin:20px 0px;
       	}
    }
    h3{
    	text-transform: uppercase;
    	padding-bottom: 0;
    }
}

.tab-content{
	.category-image{
		img{
		    width: 350px;
		}
	}
}
.cards{
	figure{
		&:hover{
		    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
		}
	}
}