.checkboxradio {
	&-row {
		display:block;
		margin: 0 -2px;
		padding: 0px 15px 20px 0px;
	}
	&-label {
		color: $black;
		cursor: pointer;
		font:{
			size: 16px;
		}
		line-height: 26px;
		min-height: 34px;
		padding-left: 40px;
		position: relative;
		@include display-flex;
		@include align-items(center);
		letter-spacing:0;
		&:before {	
		    border: 1px solid $darkCeruleanBlue;
		    border-radius: 0;
		    cursor: pointer;
		    content: "";
		    left: 2px;
		    position: absolute;
		    top: 5px;
			@include width-height(20px, 20px);
			transition: all 0.25s cubic-bezier(.4, .0, .23, 1);
		}
		a{
			margin-left: 4px;
		}
	}
	.radio-label {
		cursor: pointer;
		&:before {
			@include border-radius(100%);
		    border:2px solid $darkCeruleanBlue;
			background-color: $white;
		}

		&:after{
			background-color: $white;
			content:'';
		    display: block;
			left: 7px;
			top: 7px;
		    position: absolute;
		    @include border-radius(100%);
		    @include transform (scale(0));
		    @include width-height(11px, 11px);
		}

	}
	&-item:checked ~ label{
		color: $black;
		&:before {
			color:$white;
		 	position: absolute;
		 	@extend .text-center;
		}
	}
	&-item:checked ~ .checkbox-label{
		&:before {
		    border: 1px solid $darkCeruleanBlue;
		    display: none;
		}
		&:after{			
			color:$white;
			content:"\f00c";
			font-family: FontAwesome;
			font-size: 14px;
			background-color:$darkCeruleanBlue; 
			left: 2px;			
			line-height: 12px;
			position: absolute;
			top: 5px;			
			width: 20px;
			height: 20px;			
		    border: 1px solid $darkCeruleanBlue;
			padding:3px 2px;
			@include transition(all 0.35s ease);
		}
	}
	&-item:checked ~ .radio-label{
		&:before {
			background-color: transparent;
			border:2px solid $darkCeruleanBlue;
		}
		&:after{
			background-color:$darkCeruleanBlue;
			left:7px;
			top:10px;
			@include width-height(10px, 10px);
			@include transform (scale(1));
		}
	}
	&-invisible {
		display: none;
	}
}