/*!
 *  PaymentFont 1.2.5 by @AMPoellmann - http://paymentfont.io
 *  License - http://paymentfont.io/#license (Font: SIL OFL 1.1, CSS: MIT License)
 */

.pf {
  display: inline-block;
  font: normal normal normal 14px/1 PaymentFont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.pf-2x {
  font-size: 2em;
}
.pf-3x {
  font-size: 3em;
}
.pf-4x {
  font-size: 4em;
}
.pf-5x {
  font-size: 5em;
}

.pf-amazon:before {
  content: "\f000";
  font-weight: normal;
  font-style: normal;
}
.pf-american-express:before {
  content: "\f001";
  font-weight: normal;
  font-style: normal;
}
.pf-american-express-alt:before {
  content: "\f002";
  font-weight: normal;
  font-style: normal;
}
.pf-atm:before {
  content: "\f003";
  font-weight: normal;
  font-style: normal;
}
.pf-bankomat:before {
  content: "\f004";
  font-weight: normal;
  font-style: normal;
}
.pf-bank-transfer:before {
  content: "\f005";
  font-weight: normal;
  font-style: normal;
}
.pf-bitcoin:before {
  content: "\f006";
  font-weight: normal;
  font-style: normal;
}
.pf-bitcoin-sign:before {
  content: "\f007";
  font-weight: normal;
  font-style: normal;
}
.pf-braintree:before {
  content: "\f008";
  font-weight: normal;
  font-style: normal;
}
.pf-btc:before {
  content: "\f009";
  font-weight: normal;
  font-style: normal;
}
.pf-card:before {
  content: "\f00a";
  font-weight: normal;
  font-style: normal;
}
.pf-carta-si:before {
  content: "\f00b";
  font-weight: normal;
  font-style: normal;
}
.pf-cash:before {
  content: "\f00c";
  font-weight: normal;
  font-style: normal;
}
.pf-cash-on-delivery:before {
  content: "\f00d";
  font-weight: normal;
  font-style: normal;
}
.pf-cb:before {
  content: "\f00e";
  font-weight: normal;
  font-style: normal;
}
.pf-cirrus:before {
  content: "\f00f";
  font-weight: normal;
  font-style: normal;
}
.pf-cirrus-alt:before {
  content: "\f010";
  font-weight: normal;
  font-style: normal;
}
.pf-clickandbuy:before {
  content: "\f011";
  font-weight: normal;
  font-style: normal;
}
.pf-credit-card:before {
  content: "\f012";
  font-weight: normal;
  font-style: normal;
}
.pf-diners:before {
  content: "\f013";
  font-weight: normal;
  font-style: normal;
}
.pf-discover:before {
  content: "\f014";
  font-weight: normal;
  font-style: normal;
}
.pf-ec:before {
  content: "\f015";
  font-weight: normal;
  font-style: normal;
}
.pf-eps:before {
  content: "\f016";
  font-weight: normal;
  font-style: normal;
}
.pf-eur:before {
  content: "\f017";
  font-weight: normal;
  font-style: normal;
}
.pf-facture:before {
  content: "\f018";
  font-weight: normal;
  font-style: normal;
}
.pf-fattura:before {
  content: "\f019";
  font-weight: normal;
  font-style: normal;
}
.pf-flattr:before {
  content: "\f01a";
  font-weight: normal;
  font-style: normal;
}
.pf-giropay:before {
  content: "\f01b";
  font-weight: normal;
  font-style: normal;
}
.pf-google-wallet:before {
  content: "\f01c";
  font-weight: normal;
  font-style: normal;
}
.pf-google-wallet-alt:before {
  content: "\f01d";
  font-weight: normal;
  font-style: normal;
}
.pf-gpb:before {
  content: "\f01e";
  font-weight: normal;
  font-style: normal;
}
.pf-gratipay:before {
  content: "\f01f";
  font-weight: normal;
  font-style: normal;
}
.pf-ideal:before {
  content: "\f020";
  font-weight: normal;
  font-style: normal;
}
.pf-ils:before {
  content: "\f021";
  font-weight: normal;
  font-style: normal;
}
.pf-inr:before {
  content: "\f022";
  font-weight: normal;
  font-style: normal;
}
.pf-invoice:before {
  content: "\f023";
  font-weight: normal;
  font-style: normal;
}
.pf-invoice-sign:before {
  content: "\f024";
  font-weight: normal;
  font-style: normal;
}
.pf-invoice-sign-alt:before {
  content: "\f025";
  font-weight: normal;
  font-style: normal;
}
.pf-invoice-sign-alt-o:before {
  content: "\f026";
  font-weight: normal;
  font-style: normal;
}
.pf-invoice-sign-o:before {
  content: "\f027";
  font-weight: normal;
  font-style: normal;
}
.pf-jcb:before {
  content: "\f028";
  font-weight: normal;
  font-style: normal;
}
.pf-jpy:before {
  content: "\f029";
  font-weight: normal;
  font-style: normal;
}
.pf-krw:before {
  content: "\f02a";
  font-weight: normal;
  font-style: normal;
}
.pf-maestro:before {
  content: "\f02b";
  font-weight: normal;
  font-style: normal;
}
.pf-maestro-alt:before {
  content: "\f02c";
  font-weight: normal;
  font-style: normal;
}
.pf-mastercard:before {
  content: "\f02d";
  font-weight: normal;
  font-style: normal;
}
.pf-mastercard-alt:before {
  content: "\f02e";
  font-weight: normal;
  font-style: normal;
}
.pf-mastercard-securecode:before {
  content: "\f02f";
  font-weight: normal;
  font-style: normal;
}
.pf-ogone:before {
  content: "\f030";
  font-weight: normal;
  font-style: normal;
}
.pf-paybox:before {
  content: "\f031";
  font-weight: normal;
  font-style: normal;
}
.pf-paylife:before {
  content: "\f032";
  font-weight: normal;
  font-style: normal;
}
.pf-paypal:before {
  content: "\f033";
  font-weight: normal;
  font-style: normal;
}
.pf-paypal-alt:before {
  content: "\f034";
  font-weight: normal;
  font-style: normal;
}
.pf-paysafecard:before {
  content: "\f035";
  font-weight: normal;
  font-style: normal;
}
.pf-postepay:before {
  content: "\f036";
  font-weight: normal;
  font-style: normal;
}
.pf-quick:before {
  content: "\f037";
  font-weight: normal;
  font-style: normal;
}
.pf-rechnung:before {
  content: "\f038";
  font-weight: normal;
  font-style: normal;
}
.pf-ripple:before {
  content: "\f039";
  font-weight: normal;
  font-style: normal;
}
.pf-rub:before {
  content: "\f03a";
  font-weight: normal;
  font-style: normal;
}
.pf-skrill:before {
  content: "\f03b";
  font-weight: normal;
  font-style: normal;
}
.pf-sofort:before {
  content: "\f03c";
  font-weight: normal;
  font-style: normal;
}
.pf-square:before {
  content: "\f03d";
  font-weight: normal;
  font-style: normal;
}
.pf-stripe:before {
  content: "\f03e";
  font-weight: normal;
  font-style: normal;
}
.pf-truste:before {
  content: "\f03f";
  font-weight: normal;
  font-style: normal;
}
.pf-try:before {
  content: "\f040";
  font-weight: normal;
  font-style: normal;
}
.pf-unionpay:before {
  content: "\f041";
  font-weight: normal;
  font-style: normal;
}
.pf-usd:before {
  content: "\f042";
  font-weight: normal;
  font-style: normal;
}
.pf-verified-by-visa:before {
  content: "\f043";
  font-weight: normal;
  font-style: normal;
}
.pf-verisign:before {
  content: "\f044";
  font-weight: normal;
  font-style: normal;
}
.pf-visa:before {
  content: "\f045";
  font-weight: normal;
  font-style: normal;
}
.pf-visa-electron:before {
  content: "\f046";
  font-weight: normal;
  font-style: normal;
}
.pf-western-union:before {
  content: "\f047";
  font-weight: normal;
  font-style: normal;
}
.pf-western-union-alt:before {
  content: "\f048";
  font-weight: normal;
  font-style: normal;
}
.pf-wirecard:before {
  content: "\f049";
  font-weight: normal;
  font-style: normal;
}
.pf-sepa:before {
  content: "\f04a";
  font-weight: normal;
  font-style: normal;
}
.pf-sepa-alt:before {
  content: "\f04b";
  font-weight: normal;
  font-style: normal;
}
.pf-apple-pay:before {
  content: "\f04c";
  font-weight: normal;
  font-style: normal;
}
.pf-interac:before {
  content: "\f04d";
  font-weight: normal;
  font-style: normal;
}
.pf-paymill:before {
  content: "\f04e";
  font-weight: normal;
  font-style: normal;
}
.pf-dankort:before {
  content: "\f04f";
  font-weight: normal;
  font-style: normal;
}
.pf-bancontact-mister-cash:before {
  content: "\f050";
  font-weight: normal;
  font-style: normal;
}
.pf-moip:before {
  content: "\f051";
  font-weight: normal;
  font-style: normal;
}
.pf-pagseguro:before {
  content: "\f052";
  font-weight: normal;
  font-style: normal;
}
.pf-cash-on-pickup:before {
  content: "\f053";
  font-weight: normal;
  font-style: normal;
}
.pf-sage:before {
  content: "\f054";
  font-weight: normal;
  font-style: normal;
}
.pf-elo:before {
  content: "\f055";
  font-weight: normal;
  font-style: normal;
}
.pf-elo-alt:before {
  content: "\f056";
  font-weight: normal;
  font-style: normal;
}
.pf-payu:before {
  content: "\f057";
  font-weight: normal;
  font-style: normal;
}
.pf-mercado-pago:before {
  content: "\f058";
  font-weight: normal;
  font-style: normal;
}
.pf-mercado-pago-sign:before {
  content: "\f059";
  font-weight: normal;
  font-style: normal;
}
.pf-payshop:before {
  content: "\f05a";
  font-weight: normal;
  font-style: normal;
}
.pf-multibanco:before {
  content: "\f05b";
  font-weight: normal;
  font-style: normal;
}
.pf-gratipay-sign:before {
  content: "\f05c";
  font-weight: normal;
  font-style: normal;
}
.pf-six:before {
  content: "\f05d";
  font-weight: normal;
  font-style: normal;
}
.pf-cashcloud:before {
  content: "\f05e";
  font-weight: normal;
  font-style: normal;
}
.pf-interac-alt:before {
  content: "\f05f";
  font-weight: normal;
  font-style: normal;
}
.pf-klarna:before {
  content: "\f060";
  font-weight: normal;
  font-style: normal;
}
.pf-bitpay:before {
  content: "\f061";
  font-weight: normal;
  font-style: normal;
}
.pf-venmo:before {
  content: "\f062";
  font-weight: normal;
  font-style: normal;
}
.pf-visa-debit:before {
  content: "\f063";
  font-weight: normal;
  font-style: normal;
}
.pf-alipay:before {
  content: "\f064";
  font-weight: normal;
  font-style: normal;
}
.pf-diners-alt:before {
  content: "\f065";
  font-weight: normal;
  font-style: normal;
}
.pf-hipercard:before {
  content: "\f066";
  font-weight: normal;
  font-style: normal;
}
.pf-skrill-alt:before {
  content: "\f067";
  font-weight: normal;
  font-style: normal;
}
.pf-shopify:before {
  content: "\f068";
  font-weight: normal;
  font-style: normal;
}
.pf-direct-debit:before {
  content: "\f069";
  font-weight: normal;
  font-style: normal;
}
.pf-sodexo:before {
  content: "\f06a";
  font-weight: normal;
  font-style: normal;
}
.pf-bpay:before {
  content: "\f06b";
  font-weight: normal;
  font-style: normal;
}
.pf-contactless:before {
  content: "\f06c";
  font-weight: normal;
  font-style: normal;
}
.pf-contactless-alt:before {
  content: "\f06d";
  font-weight: normal;
  font-style: normal;
}
.pf-eth:before {
  content: "\f06e";
  font-weight: normal;
  font-style: normal;
}
.pf-ltc:before {
  content: "\f06f";
  font-weight: normal;
  font-style: normal;
}
.pf-visa-pay:before {
  content: "\f070";
  font-weight: normal;
  font-style: normal;
}
.pf-wechat-pay:before {
  content: "\f071";
  font-weight: normal;
  font-style: normal;
}
.pf-amazon-pay:before {
  content: "\f072";
  font-weight: normal;
  font-style: normal;
}
.pf-amazon-pay-alt:before {
  content: "\f073";
  font-weight: normal;
  font-style: normal;
}

/*
 * Finito!
 */